<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>layout 2</title>
    <style media="screen">

.inlineblock {
  display: inline-block;
  vertical-align:middle;
  width:200px;
  border:5px solid;
  padding:5px;
  margin:10px;

  }

.widthdouble {
  width:400px;
  margin-left:20px;
  margin-right:20px;
}


    </style>
  </head>
  <body>

<div class="inlineblock">
  It’s about the struggle between individuals with jagged passion in their work and today’s faceless corporate committees, which claim to understand the needs of the mass audience, and are removing the idiosyncrasies, polishing the jags, creating a thought-free,
  </div>

<div class="inlineblock widthdouble">
    It’s about the struggle between individuals with jagged passion in their work and today’s faceless corporate committees, which claim to understand the needs of the mass audience, and are removing the idiosyncrasies, polishing the jags, creating a thought-free,
  </div>

<div class="inlineblock">
    It’s about the struggle between individuals with jagged passion in their work and today’s faceless corporate committees, which claim to understand the needs of the mass audience, and are removing the idiosyncrasies, polishing the jags, creating a thought-free,
    </div>



  </body>
</html>
