<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Layout 3</title>
    <style media="screen">

.margin{
margin-left:200px;
margin
}

</style>

  </head>
  <body>
<div class="margin one">
<h1> header </h1>
<h2> header </h2>

</div>

<div class="margin two">It’s about the struggle between individuals with jagged passion in their work and today’s faceless corporate committees, which claim to understand the needs of the mass audience, and are removing the idiosyncrasies, polishing the jags, creating a thought-free,

  <div class="margin three">It’s about the struggle between individuals with jagged passion in their work and today’s faceless corporate committees, which claim to understand the needs of the mass audience, and are removing the idiosyncrasies, polishing the jags, creating a thought-free,
    
  </div>

  </body>
</html>
